<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div data-th-replace="navbar"></div>

<main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <hr>
            <p align="center"> Formulaire Patient</p>
            <hr>
            <form th:object="${FormClient}" method="post" th:action="@{/clients/save}">

                <div hidden>
                    <input type="text" id="id" th:field="*{id}">
                </div>

                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" th:field="*{nom}">
                    <small>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('nom')}"
                             th:errors="*{nom}"></div>

                    </small>
                </div>
                <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input type="text" class="form-control" id="prenom" th:field="*{prenom}">
                    <small>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('prenom')}"
                             th:errors="*{prenom}"></div>

                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

        <hr>

    </div> <!-- /container -->

</main>

<div data-th-replace="footer"></div>



<!-- partie -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>