<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<table class="table">
<thead>
<tr>
    <th scope="col">id</th>
    <th scope="col">Titre</th>
    <th scope="col">Auteur</th>
    <th scope="col">Description</th>

    <th scope="col">Mots cles</th>
</tr>
</thead>
<tbody>
<tr th:each="l : ${livres}">
    <th th:utext="${l.id}"></th>
    <td th:utext="${l.titre}"></td>
    <td th:utext="${l.auteur}"></td>
    <td th:utext="${l.description}"></td>
    <td th:utext="${l.mots_cles}"></td>

    <td>
        <a th:href="@{/livres/delete/{id} (id=${l.id})}" role="button" class="btn btn_danger">supprimer</a>
    </td>
</tr>

</tbody>
</table>
<div class="container">

</div>

</body>
</html>