<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div data-th-replace="navbar"></div>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">

            <hr>
            <p align="center"> Formulaire Médecin</p>
            <hr>

            <form th:object="${RdvForm}" method="post" th:action="@{/rdvs/save}">

                <div hidden>
                    <input type="text" id="id" th:field="*{id}">
                </div>

                <div class="form-group">
                    <label for="sjour">Date</label>
                    <input type="datetime-local" class="form-control" id="sjour" th:field="*{sjour}">
                </div>

                <div class="form-group">
                    <label for="medecin">Medecin</label>
                    <select class="form-control" id="medecin" th:field="*{medecin.id}">
                        <option th:each="m : ${medeins}"  value="*{m.id}" th:utext="*{m.nom}+' '+*{m.prenom}" ></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="medecin">Medecin</label>
                    <select class="form-control" id="client" th:field="*{client.id}">
                        <option th:each="m : ${clients}"  value="*{m.id}" th:utext="*{m.nom}+' '+*{m.prenom}" ></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

        <hr>

    </div> <!-- /container -->

</main>

<div data-th-replace="footer"></div>



<!-- partie -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>